<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <h1 class="text-center title-1"><%= title %></h1>
   <form action="/new" method="POST">
    Company Name:<input type="text" name="emp" /><br />
    Serial number:<input type="text" name="serial" /><br />
    Id Customer:<input type="text" name="id" /><br />
    <input type="submit" value="Send" />


   </form>
  </body>
</html>
